@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IBMPlex;
  src: url('../public/font/IBM-Plex-Sans.ttf')
}

body {
  font-family: IBMPlex;
  background-color: #2F5651;
}